body {
    background-color: whitesmoke;
    
}
.h1 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:flex;
    justify-content: column;
    align-content:center;
    margin-left: 060%
}

.p {
    color: black;
    display: inline;
    display: flex;
  margin-left: 060%;
 
}

.li {
    color:black;
    line-height: 1.0;
    display: inline;
    display: flex;
  margin-left: 060%;
 padding-top: 10px;
 padding-bottom: 10px;
}

.boton {
 
    background-color: brown;
    display: inline;
    display: flex;
  margin-left: 060%;

}